{{define "ldap-default"}}
    {{- /*
    required fields:
    //	.cn              - users fullname
    //	.mail            - users email
    //	.position        - users potion
    //	.company         - company name
     */ -}}
    {{template "0_core"       }}
    {{template "01_imap"     .}}
    {{template "02_smtp"     .}}
    {{template "03_abook"     }}
    {{template "04_calendar" .}}
    {{template "05_ids"      .}}
    {{template "06_signatute".}}
    {{template "07_account"  }}
    {{template "08_other"}}

{{end}}